/* NEW TAB ANIMATIONS */

@keyframes new-tab-appear {
	0% {
		opacity: 0;
		transform: translateY(-25px);
	}
	60% {
		opacity: 0.8;
		transform: translateY(4px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* ANIMATIONS */

/* Loading tab animation */
tab[busy] {
	scale: 0.95 !important;
	.tab-background {
		opacity: 0.3 !important;
	}
}

/* trackpad gestures*/
.browserStack browser {
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.1s !important;
	border-radius: 0.75em !important;
}

/* Previous animation*/
.browserStack:has(
		#historySwipeAnimationPreviousArrow:not([style="translate: none;"])
	)
	browser {
	scale: 0.95 !important;
	transform: translateX(3%) !important;
	border-radius: 2em !important;
}

/* Next animation*/
.browserStack:has(
		#historySwipeAnimationNextArrow:not([style="translate: none;"])
	)
	browser {
	scale: 0.95 !important;
	transform: translateX(-3%) !important;
	border-radius: 2em !important;
}

/* smoothen trackpad gestures */
.browserStack browser[style*="transform: none"] {
	border-radius: 0.75em !important;
}

/* ctrl tab visuals and animations */
#ctrlTab-panel {
	--panel-background: var(--lwt-accent-color) !important;
	transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.2s !important;
	scale: 0.7;
}

#ctrlTab-panel:has(.ctrlTab-preview:not([hidden="true"])) {
	scale: 1 !important;
}

slot:nth-child(1) {
	border-radius: 1em !important;
	padding: 0 !important;
}

&:has(#reload-button[displaystop="true"]) {
	/* When 'Stop' button is shown isntead of 'Reload' */
	.urlbar-input-container::before {
		animation-play-state: running;
		opacity: 1;
	}
}
